[include]
  path = ~/.git.d/alias.git
  path = ~/.git.d/core.git
  path = ~/.git.d/delta.git
  path = ~/.git.d/init.git
  path = ~/.git.d/pager.git
  path = ~/.git.d/pull.git
  path = ~/.git.d/user.git
  # Secret configureation. This file can override above configuration.
  path = ~/.gitconfig.secret

